.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 1rem;
    transition: background-color 0.3s ease;
    background: transparent;
  }

  .navbar.opaque {
    background-color: rgba(0, 0, 0, 0.85);
  }

  .navbar-brand img {
    height: 150px;
    transition: height 0.1s ease;
  }

  .navbar.small-logo .navbar-brand img {
    height: 100px;
  }

  .navbar-nav {
    flex: 1.5;
    justify-content: center;
  }

  .navbar-dark .nav-link {
    color: white;
    font-weight: 200;
  }

  .dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-size: 1.2rem;
    font-style: normal;
  }

  .navbar-nav .login-item {
    margin-left: 80px;
  }

  /* Add arrow symbol next to dropdown menu items */
  .navbar .navbar-nav .dropdown-toggle::after {
    font-family: "DM Serif Text", serif;
    padding-left: 5px; /* Space between text and arrow */
  }
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }

  .dropdown-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Black background with opacity */
    border-radius: 5px; /* Optional: Adds rounded corners */
  }

  /* Dropdown items */
  .dropdown-menu .dropdown-item {
    color: white; /* White text */
    padding: 10px 15px; /* Increase padding for individual items */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }

  /* Hover effect for dropdown items */
  .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light hover effect */
  }

  /* Sidebar styling */
  .sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #000000;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 11;
  }
  .sidebar a {
    padding: 10px 15px;
    font-family: "DM Serif Text", serif;
    font-size: 1rem;
    text-decoration: none;
    color: #f8f9fa;
    display: block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    background-color: #575757;
  }
  .sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 1.5rem;
  }
  .dropdown-btn {
    padding: 10px 15px;
    font-family: "DM Serif Text", serif;
    font-size: 1rem;
    background-color: #000000;
    color: white;
    border: none;
    text-align: left;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
  }

  .dropdown-btn:hover {
    background-color: #575757;
  }

  /* Submenu styling */
  .submenu {
    display: none;
    background-color: #1f1f1f;
  }

  .submenu a {
    font-family: "DM Serif Text", serif;
    font-size: 1rem;
    color: white
  }

  .submenu a:hover {
    background-color: #575757;
    color: white;
  }

  /* Active dropdown button style */
  .dropdown-btn.active {
    background-color: #2b2b2b;
    color: white
  }
  