.placement-section {
  padding: 20px;
}
.title {
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-size: 3rem;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}

.about-section {
  background-color: white;
}
.about-description {
  font-size: 1.2rem;
  color: black;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .about-description {
    font-size: 1rem;
  }
}
.table-container {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
  margin-bottom: 0px;
}
table {
  margin: 0 auto;
  width: 60%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}
th,
.highlight {
  font-weight: bold;
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  table {
    font-size: 0.8rem;
    width: 70%; /* Table takes full width on smaller screens */
    min-width: 0; /* Removes the minimum width for smaller devices */
  }
}

.logo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
}
.logo {
  max-width: 120px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
@media (max-width: 600px) {
  .logo {
    max-width: 80px;
  }
}
