<link rel="stylesheet" href="./styles/footer.css">

<footer class="footer">
    <div class="container">
      <div class="row">
        <!-- Left Side: Logo and Contact Info -->
        <div class="col-md-6 text-center text-md-start left">
          {% load static %}
<img src="{% static 'images/logo-white.png' %}" alt="Logo" class="footer-logo mb-2"><br />
          <h3>Contact Us</h3>
          <p>
            Email:
            <a href="mailto:bscit@sophiacollege.edu.in"
              >bscit@sophiacollege.edu.in</a
            >
          </p>
          <br />

          <div class="social-icons">
            <a
              href="https://www.instagram.com/sophiacollegebscit/"
              class="social-icon"
              target="_blank"
              aria-label="Instagram"
            >
              <i class="fab fa-instagram"></i>
            </a>
            <a
              href="https://www.linkedin.com/in/sophia-college-bsc-it-alumni-122702324"
              class="social-icon"
              target="_blank"
              aria-label="LinkedIn"
            >
              <i class="fab fa-linkedin"></i>
            </a>
            <a
              href="https://www.facebook.com/profile.php?id=100084062912057"
              class="social-icon"
              target="_blank"
              aria-label="Facebook"
            >
              <i class="fab fa-facebook"></i>
            </a>
          </div>
        </div>

        <!-- Right Side: Location and Google Map -->
        <div class="col-md-6 text-center text-md-start right">
          <h3>Our Location</h3>
          <p>
            Sophia College for Women(Empowered Autonomous), <br />
            Bhulabhai Desai Road, <br />
            Mumbai 400 026.
          </p>
          <div class="map-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d396.60240480828764!2d72.80799908992759!3d18.969458290747923!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf9507075e4d%3A0x29a70be09134d7aa!2sSophia%20College%20(AUTONOMOUS)!5e0!3m2!1sen!2sus!4v1731226270698!5m2!1sen!2sus"
              style="width: 100%; height: 100%; border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          
        </div>
      </div>
    </div>
  </footer>
