
<nav class="navbar navbar-expand-lg navbar-dark d-lg-none">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.html">
        {% load static %}
<img src="{% static 'images/logo-white.png' %}" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" onclick="openSidebar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
    <a href="./index.html">Home</a>
    <a href="./aboutus.html">About Us</a>
    <div class="menu-item">
      <button class="dropdown-btn">Academics <i class="fas fa-caret-down"></i></button>
      <div class="submenu">
        <a href="./syllabi.html">Syllabi</a>
        <a href="./e-resources.html">E-Resources</a>
      </div>
    </div>
    <a href="./outreachprograms.html">Outreach Programs</a>
    <div class="menu-item">
      <button class="dropdown-btn">Student Life<i class="fas fa-caret-down"></i></button>
      <div class="submenu">
        <a href="./industrialvisits.html">Industrial Visits</a>
        <a href="./activities.html">Activities</a>
      </div>
    </div>
    <a href="./itechnothon25.html">I-Technothon</a>
    <a href="./placement.html">Placement</a>
    <a href="./alumni.html">Alumni</a>
  </div>